server:
  port: 8080
  address: 0.0.0.0

spring:
  profiles:
    active: local

  datasource:
    url: jdbc:mysql://localhost:3306/defaultdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  thymeleaf:
    cache: false

logging:
  level:
    root: WARN
    com.rikkei.reshoppingcartwebapp: DEBUG
